*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    padding: 30px;
}

.container{
    display: flex;
    align-items: center;
    gap: 30px;
}

.container div{
    width: 200px;
    height: 200px;
    background-color: red;
}

/* ==============Start Media================= */
/* 
@media (max-width: 1200px){
    .container div{
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 900px){
    .container div{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 700px){
    .container {
        flex-direction: column;
    }

    .container div{
        width: 100%;
    }
}  */

header{
    padding: 3% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(207, 207, 207);
}

header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}


@media (max-width: 730px){
    header ul{
        gap: 30px;
    }
}

@media (max-width:600px){
    header{
        flex-direction: column;
    }

    header ul{
        flex-direction: column;
        padding-top: 20px;
    }
}